<form>
    <div class="container">
        <div class="row my-2 d-flex justify-content-left text-left">
            <div class="col-md-2">Kan ID</div>
            <input class="col-md-2" placeholder="###" type="int" name="projectID" [(ngModel)]="kan.projectId" />
            <div class="col-md-2"></div>
            <div class="col-md-2">Kan Name</div>
            <input class="col-md-4" placeholder="KAN######" type="text" name="projectName"
                [(ngModel)]="kan.projectName" />


        </div>
        <div class="row  my-2 d-flex justify-content-left text-left">
            <div class="col-md-2">Database Version</div>
            <input class="col-md-10" placeholder="Database Version" type="text" name="dbVersion"
                [(ngModel)]="kan.dbVersion" />

        </div>
        <div class="row  my-2 d-flex justify-content-left text-left">
            <div class="col-md-3">Description</div>
            <input class="col-md-12" placeholder="Description" type="text" name="description"
                [(ngModel)]="kan.description" />

        </div>


        <div class="row  my-2 d-flex justify-content-left text-left">
            <div class="col-md-3">modification History</div>
            <textarea class="form-control" rows="5"
                placeholder="Sep 3, 2000    Jams Bond   2.5.0.2     KAN000126 Add new DB script" type="text"
                name="modificationHistory"
                [(ngModel)]="kan.modificationHistory">Date        Developer       Version     comments</textarea>
        </div>

        <div class="row  my-2 d-flex justify-content-left text-left">
            <div class="col-md-3">Script for stoping Services</div>
            <textarea class="form-control" rows="5" type="text" name="stopServices"
                [(ngModel)]="kan.stopServices"></textarea>
        </div>

        <div class="row  my-2 d-flex justify-content-left text-left">
            <div class="col-md-3">Script for copying files</div>
            <textarea class="form-control" rows="5" type="text" name="copyFile" [(ngModel)]="kan.copyFile"></textarea>
        </div>

        <div class="row  my-2 d-flex justify-content-left text-left">
            <div class="col-md-3">Script for running query</div>
            <textarea class="form-control" rows="5" type="text" name="runQuery" [(ngModel)]="kan.runQuery"></textarea>
        </div>
        <div class="row  my-2 d-flex justify-content-left text-left">
            <div class="col-md-3">Script for resuming services</div>
            <textarea class="form-control" rows="5" type="text" name="resumeService"
                [(ngModel)]="kan.resumeService"></textarea>
        </div>
        <div class="row  my-2 d-flex justify-content-left text-left">
            <div class="col-md-3">Script for cleaning up</div>
            <textarea class="form-control" rows="5" type="text" name="cleanUp" [(ngModel)]="kan.cleanUp"></textarea>
        </div>
    </div>

    

    <div>
        <button class="btn btn-primary mx-1" (click)="Save()">Save</button>
        <button class="btn btn-primary mx-1" (click)="Clone()" >Clone</button>

        <button class="btn btn-primary mx-1" (click)="Generate()">Generate</button>
    </div>


</form>