<div >
  <div class="row my-2 d-flex justify-content-left text-left" >
    <div class = "col-md-8">
      <h2 class = "text-center"> KanBan Job List</h2>
    </div>
    <div class = "col-md-4">
      <input [(ngModel)]="filter">
      <a class="fa fa-search mx-3" (click) = "filtering()"></a>
    </div>     
    <hr>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' [routerLink]="['/kanban', 0]"  >New Kanban Job</a></li>
    </ul>

    
  </div>
</div>
<hr>
<div>
  
  <tbody>
    <tr *ngFor='let kanJob of recentKans; let i=index' >
      <td > <a  style='margin: 0px' class='nav-link' [routerLink]="['/kanban', kanJob.projectId ]">
          {{kanJob.projectId}}</a> </td> 
      <td > <a  style='margin: 0px' class='nav-link' [routerLink]="['/kanban', kanJob.projectId]">
          {{kanJob.projectName}}</a> </td>
      <td > <a  style='margin: 0px' class='nav-link' [routerLink]="['/kanban', kanJob.projectId]">
          {{kanJob.description}}</a> </td>
      <td> <a  style='margin: 0px' class='nav-link' [routerLink]="['/kanban', kanJob.projectId]">
          {{kanJob.lastOpen|date:'MM/dd/yyyy' }}</a> </td>
    </tr>

    <br>


  </tbody>


</div>
  
  