<div >
  <h2> Start...</h2>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' [routerLink]="['/kanban', 0]">New Kanban Job</a></li>
  </ul>
</div>
<hr>
<div>
  <h2> Recent...</h2>

  <tbody>
    <tr *ngFor='let kanJob of recentKans; let i=index'>
      <td *ngIf="i < maxRecent"> <a style='margin: 0px' class='nav-link' [routerLink]="['/kanban', kanJob.projectId ]">
          {{kanJob.projectId}}</a> </td>
      <td *ngIf="i < maxRecent"> <a style='margin: 0px' class='nav-link' [routerLink]="['/kanban', kanJob.projectId]">
          {{kanJob.projectName}}</a> </td>
      <td *ngIf="i < maxRecent"> <a style='margin: 0px' class='nav-link' [routerLink]="['/kanban', kanJob.projectId]">
          {{kanJob.description}}</a> </td>
    </tr>

    <br>
    <tr>
      <td><a class='nav-link' [routerLink]="['/joblist']"> More... </a></td>
    </tr>

  </tbody>


</div>